[submodule "portfolio-04-react-gif-expert-app"]
	path = portfolio-04-react-gif-expert-app
	url = git@github.com:danielcaamal/portfolio-04-react-gif-expert-app.git
[submodule "portfolio-05-react-hooks-app"]
	path = portfolio-05-react-hooks-app
	url = git@github.com:danielcaamal/portfolio-05-react-hooks-app.git
[submodule "portfolio-06-react-heroes-spa"]
	path = portfolio-06-react-heroes-spa
	url = git@github.com:danielcaamal/portfolio-06-react-heroes-spa.git
[submodule "portfolio-07-react-journal-app"]
	path = portfolio-07-react-journal-app
	url = git@github.com:danielcaamal/portfolio-07-react-journal-app.git
[submodule "portfolio-08-mern-calendar-app"]
	path = portfolio-08-mern-calendar-app
	url = git@github.com:danielcaamal/portfolio-08-mern-calendar-app.git
[submodule "portfolio-09-wallet-app"]
	path = portfolio-09-wallet-app
	url = git@github.com:danielcaamal/portfolio-09-wallet-app.git
[submodule "portfolio-10-algorithms"]
	path = portfolio-10-algorithms
	url = git@github.com:danielcaamal/portfolio-10-algorithms.git
[submodule "portfolio-00-various-courses"]
	path = portfolio-00-various-courses
	url = git@github.com:danielcaamal/portfolio-00-various-courses.git
[submodule "portfolio-01-basic-backend-projects"]
	path = portfolio-01-basic-backend-projects
	url = git@github.com:danielcaamal/portfolio-01-basic-backend-projects.git
[submodule "portfolio-02-basic-flutter-projects"]
	path = portfolio-02-basic-flutter-projects
	url = git@github.com:danielcaamal/portfolio-02-basic-flutter-projects.git
[submodule "portfolio-03-webserver-restserver"]
	path = portfolio-03-webserver-restserver
	url = git@github.com:danielcaamal/portfolio-03-webserver-restserver.git
[submodule "portfolio-03-socket-server"]
	path = portfolio-03-socket-server
	url = git@github.com:danielcaamal/portfolio-03-socket-server.git
